html {
	height: 100vh;
	width: 100%; 
}

body {
	background: linear-gradient(-45deg, #ff6169, #7970f8, #5bfa83, #fffc47,#ff6169);
	background-size: 400vw 400vh;
	animation: gradient-animation 15s linear alternate infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: left top;
	}
	100% {
		background-position: right bottom ;
	}
} 




article {
	text-align: center;
	padding-top: 15vh;
	/* height: 20vh; */
	color: rgb(2, 65, 65);
	font-size: 1.5em;
} 


article > p {
	animation: textAppearance 2s linear ;
	/* opacity: 0; */
	
}

@keyframes textAppearance {
	0% {
		opacity: 0;
	}	
	50% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}




#startButtonContainer {
	display: flex;  
	justify-content: center; 
	align-items: center;  
	animation: startButtonAppearance 4s linear ;
}
  
a {
	font-size: 1.5rem;
	padding: 1rem 3rem;
	color: #f4f4f4;
	background:  linear-gradient(45deg, rgba(255, 115, 0, 0.829), rgba(255, 0, 0, 0.904));
	opacity: 0.8;
}
  
.btn {
	text-decoration: none;
	border: 1px solid rgb(146, 148, 248);

	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

@keyframes startButtonAppearance {
	0% {
		opacity: 0;
	}	
	50% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

  
  .btn:hover {
	box-shadow: 0px 0px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: -150%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  120deg,
	  transparent,
	  rgba(245, 247, 141, 0.4),
	  transparent
	);
	transition: all 650ms;
  }
  
  .btn:hover:before {
	left: 150%;
  }
  

#gameContainer {
	/* border: red solid 1px; */
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	margin-top: 50px;
	margin-bottom: auto; /* ths one is needed to fill the vw, to avoid background corner show problem*/
	min-width: 500px;
	width:60vw;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
	margin-bottom: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 10px;
}

#playersContainer {
	/* border: rgb(208, 255, 0) solid 1px; */
	/* height:50vh; */
	/* width: 50vw; */
}

#gameButtonsContainer {
	display:flex;
	justify-content:flex-end;
	padding-right: 10%;
}

#comuputersContainer {
	border: rgb(255, 0, 212) solid 10px; 
	width: 50vw;
}

#computersContainer > p {
	height: 40px;
	text-align: left;
	padding-left: 10%;
}

button {
	width: 100px;
	height: 100px;
	font-size: 60px;
	transition-duration: 0.3s;
	box-shadow: 0 0px 10px 3px rgba(0,0,0,0.2), 0px 0px 10px 3px rgba(0,0,0,0.19);
	border-radius: 5px;
	margin: 10px;
	
}

	button:hover {
		box-shadow: 0 0px 15px 10px rgba(0,0,0,0.2), 0px 0px 15px 10px rgba(0,0,0,0.19);
		content:"Hide";
	}

	button:active {
		background-color: rgb(153, 207, 5);
	}

#playersChoiceContainer, #computerChoiceContainer {
	height: 90px;
	width: 90px;
	/* border: rgb(255, 0, 212) solid 1px; */
	border-radius: 50%;
	background-color: cornsilk;
	box-shadow: 0 0px 20px 20px cornsilk;
	font-size: 80px;
	transition-duration: 0.7s;
	vertical-align: middle;
	margin: 20px;
	visibility: hidden;
}

#resultLogoContainer {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	/* border: rgb(255, 0, 212) solid 5px; */
	display: flex;
	justify-content:center ;
}




	/*  below are the properties of shining numbers of result */
	
	:root {
		--shadow-color: #FF9E9E;
		--shadow-color-light: white;
	}

	#resultNumbersContainer {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		/* border: rgb(38, 0, 255) solid 10px; */
		transition-duration: 0.5s;
		color: white;
		font-size: 65px;
		font-family: "Archivo Black", "Archivo", sans-serif;
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			  0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
			  0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
			
	}
	


/*   this one wanted to use for logging the game history.
#resultLogContainer  {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	border: rgb(247, 4, 4) solid 10px; 
	transition-duration: 0.2s;
} */






